<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />-->
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="209715" />
  </system.web>

</configuration>
